.details-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.poke-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.5rem 0;
  padding: 0 2rem;
  width: 60%;
}

.search-bar {
  margin: 2rem;
}
@media screen and (max-width: 768px) {
  .poke-search {
    width: 100%;
    flex-direction: column;
  }
}

