.navbar {
    width: 100%;
    background-color: rgba(230, 84, 17, 0.89);
    display: flex;
    justify-content: center;
    padding: .5rem 0rem;
}

.pokedex-img {
    height: 6rem;
    width: 25rem;
}